# 1. Basic Commands in Python

## Arithmetic operations

In [1]:
1+2

3

In [2]:
1-2

-1

In [3]:
1*2

2

In [4]:
1/2

0.5

In [5]:
7%2 # returns the remainder of the division

1

In [6]:
1//2# returns an integer

0

In [7]:
7//2

3

In [8]:
2**3 # exponentiation

8

## Assignment operator

In [9]:
y = 10

In [10]:
y

10

In [11]:
y = y+10 # same as y+=10

In [12]:
y

20

## Variable assignment

In [13]:
height = 100 # This variable is a integer (whole number-no decimal places)

In [14]:
height

100

In [15]:
weight = 50.5 # Floating variable

In [16]:
weight

50.5

In [17]:
patient_id = "HS 101" # This is a string - charactor variable

In [18]:
patient_id

'HS 101'

In [19]:
is_overweight = True # Boolean (Note First letter is capital and others are simple)

In [20]:
is_overweight

True

## `input` function

In [21]:
grade = input('Enter grade: ') 
# This will open a box. 
#Enter the value into the box and hit enter

Enter grade: A

In [22]:
grade

'A'

## Logical operators

In [23]:
# greater than
10 > 30

False

In [24]:
# greater than or equal to
10 >= 10

True

In [25]:
5 < 2

False

In [26]:
5 <= 2

False

In [27]:
# equals
10 == 20

False

In [28]:
# not equal
10 != 5

True

## Lists

In [29]:
marks = [10, 50, 40, 33, 50, 100, 45, 65, 78, 90]

In [30]:
marks

[10, 50, 40, 33, 50, 100, 45, 65, 78, 90]

In [31]:
## APplication of a list

In [32]:
## application of a list: Application 1
def standardize(x):
    return x+10

In [33]:
final_score = map(standardize, marks)

In [34]:
## here we need to pass final_score within list
list(final_score)

[20, 60, 50, 43, 60, 110, 55, 75, 88, 100]

## Subsetting with lists

In [35]:
marks[0] # extract the first element in the lsit

10

In [36]:
marks[2] # extract the third element in the list

40

In [37]:
marks[-2] # returns the second element from the end

78

## List operations

In [38]:
marks.append(100) # add 100 to the end of the list marks

In [39]:
marks

[10, 50, 40, 33, 50, 100, 45, 65, 78, 90, 100]

In [40]:
marks.insert(0, 80) # replace the first element with 80

In [41]:
marks

[80, 10, 50, 40, 33, 50, 100, 45, 65, 78, 90, 100]

In [42]:
marks.insert(1, 100)# replace the second element with 100

In [43]:
marks

[80, 100, 10, 50, 40, 33, 50, 100, 45, 65, 78, 90, 100]

In [44]:
marks.remove(100)  # removes the first 100 value

In [45]:
marks

[80, 10, 50, 40, 33, 50, 100, 45, 65, 78, 90, 100]

In [46]:
marks.pop() # extract the last item and remove it from the list

100

In [47]:
marks

[80, 10, 50, 40, 33, 50, 100, 45, 65, 78, 90]

In [48]:
marks.clear() # removes all elements in the list

In [49]:
marks

[]

In [50]:
marks = [10, 50, 40, 33, 50, 100, 45, 65, 78, 90, 100] 
marks.index(100) # returns the index of first 100

5

In [51]:
marks.sort() # sort the list

In [52]:
marks

[10, 33, 40, 45, 50, 50, 65, 78, 90, 100, 100]

In [53]:
marks.reverse()

In [54]:
marks

[100, 100, 90, 78, 65, 50, 50, 45, 40, 33, 10]

## Dictionaries

In [55]:
student = {
 "name": "Time",
 "age": 30,
 "is_pass": True
}

In [56]:
student

{'name': 'Time', 'age': 30, 'is_pass': True}

In [57]:
student["name"]

'Time'

In [58]:
student['is_pass']

True

In [59]:
student["name"] = "Tim Stewart" # assign a new name

In [60]:
student["name"]

'Tim Stewart'

## User-define functions

In [61]:
def greeter(name):
    print(f"Good day {name}!")
greeter("Thiyanga")

Good day Thiyanga!

## Random numbers

In [62]:
import random

In [63]:
random.random() # generates a float random number between 0 and 1

0.23879818438022893

In [64]:
random.randint(0, 10) # generates a integer random number between 0 and 10

1

In [65]:
members = ["A", "B", "C"]
leader = random.choice(members)

In [66]:
leader

'C'

## Installing packages

In [67]:
pip install plotnine

Requirement already satisfied: plotnine in /anaconda3/lib/python3.7/site-packages (0.6.0)
Requirement already satisfied: mizani>=0.6.0 in /anaconda3/lib/python3.7/site-packages (from plotnine) (0.6.0)
Requirement already satisfied: statsmodels>=0.9.0 in /anaconda3/lib/python3.7/site-packages (from plotnine) (0.10.0)
Requirement already satisfied: pandas>=0.25.0 in /anaconda3/lib/python3.7/site-packages (from plotnine) (1.0.5)
Requirement already satisfied: numpy>=1.16.0 in /anaconda3/lib/python3.7/site-packages (from plotnine) (1.16.4)
Requirement already satisfied: scipy>=1.2.0 in /anaconda3/lib/python3.7/site-packages (from plotnine) (1.3.0)
Requirement already satisfied: descartes>=1.1.0 in /anaconda3/lib/python3.7/site-packages (from plotnine) (1.1.0)
Requirement already satisfied: matplotlib>=3.1.1 in /anaconda3/lib/python3.7/site-packages (from plotnine) (3.1.1)
Requirement already satisfied: patsy>=0.4.1 in /anaconda3/lib/python3.7/site-packages (from plotnine) (0.5.1)
Requirement already satisfied: palettable in /anaconda3/lib/python3.7/site-packages (from mizani>=0.6.0->plotnine) (3.2.0)
Requirement already satisfied: pytz>=2017.2 in /anaconda3/lib/python3.7/site-packages (from pandas>=0.25.0->plotnine) (2019.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /anaconda3/lib/python3.7/site-packages (from pandas>=0.25.0->plotnine) (2.8.0)
Requirement already satisfied: cycler>=0.10 in /anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1.1->plotnine) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1.1->plotnine) (2.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1.1->plotnine) (1.1.0)
Requirement already satisfied: six in /anaconda3/lib/python3.7/site-packages (from patsy>=0.4.1->plotnine) (1.12.0)
Requirement already satisfied: setuptools in /anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.1->plotnine) (41.0.1)
Note: you may need to restart the kernel to use updated packages.

## Create dataframes

In [76]:
from pandas import DataFrame

marks = {'ID': ['a1','a2','a3','a4','a5'],
        'marks': [100, 20, 25, 90, 35],
         'results': ["pass", "fail", "fail", "pass", "fail"]
        }

df = DataFrame(marks, columns= ['ID', 'marks','results'])
print (df)

   ID  marks results
0  a1    100    pass
1  a2     20    fail
2  a3     25    fail
3  a4     90    pass
4  a5     35    fail

## Load `economics` dataset in the plotnine package

In [68]:
from plotnine.data import economics

In [70]:
economics # load economics dataset

          date      pce     pop  psavert  uempmed  unemploy
0   1967-07-01    507.4  198712     12.5      4.5      2944
1   1967-08-01    510.5  198911     12.5      4.7      2945
2   1967-09-01    516.3  199113     11.7      4.6      2958
3   1967-10-01    512.9  199311     12.5      4.9      3143
4   1967-11-01    518.1  199498     12.5      4.7      3066
..         ...      ...     ...      ...      ...       ...
569 2014-12-01  12122.0  320201      5.0     12.6      8688
570 2015-01-01  12080.8  320367      5.5     13.4      8979
571 2015-02-01  12095.9  320534      5.7     13.1      8705
572 2015-03-01  12161.5  320707      5.2     12.2      8575
573 2015-04-01  12158.9  320887      5.6     11.7      8549

[574 rows x 6 columns]

## Subsetting datasets

In [71]:
economics.head()

        date    pce     pop  psavert  uempmed  unemploy
0 1967-07-01  507.4  198712     12.5      4.5      2944
1 1967-08-01  510.5  198911     12.5      4.7      2945
2 1967-09-01  516.3  199113     11.7      4.6      2958
3 1967-10-01  512.9  199311     12.5      4.9      3143
4 1967-11-01  518.1  199498     12.5      4.7      3066

In [72]:
economics.tail()

          date      pce     pop  psavert  uempmed  unemploy
569 2014-12-01  12122.0  320201      5.0     12.6      8688
570 2015-01-01  12080.8  320367      5.5     13.4      8979
571 2015-02-01  12095.9  320534      5.7     13.1      8705
572 2015-03-01  12161.5  320707      5.2     12.2      8575
573 2015-04-01  12158.9  320887      5.6     11.7      8549

In [84]:
economics['pce'] # extract `pce` variable

0        507.4
1        510.5
2        516.3
3        512.9
4        518.1
        ...
569    12122.0
570    12080.8
571    12095.9
572    12161.5
573    12158.9
Name: pce, Length: 574, dtype: float64

## Working with dataframes

In [77]:
len(economics) # obtain number of rows in the dataset

574

In [78]:
economics.dtypes # obtain datatypes

date        datetime64[ns]
pce                float64
pop                  int64
psavert            float64
uempmed            float64
unemploy             int64
dtype: object

## Descriptive statistics

In [79]:
economics['unemploy'].describe()

count      574.000000
mean      7771.557491
std       2641.960571
min       2685.000000
25%       6284.000000
50%       7494.000000
75%       8691.000000
max      15352.000000
Name: unemploy, dtype: float64

In [82]:
economics.describe(include='all')

,date,pce,pop,psavert,uempmed,unemploy
count,574,574.000000,574.000000,574.000000,574.000000,574.000000
unique,574,NaN,NaN,NaN,NaN,NaN
top,2009-09-01 00:00:00,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN
first,1967-07-01 00:00:00,NaN,NaN,NaN,NaN,NaN
last,2015-04-01 00:00:00,NaN,NaN,NaN,NaN,NaN
mean,NaN,4843.510453,257189.381533,7.936585,8.610105,7771.557491
std,NaN,3579.287206,36730.801593,3.124394,4.108112,2641.960571
min,NaN,507.400000,198712.000000,1.900000,4.000000,2685.000000
25%,NaN,1582.225000,224896.000000,5.500000,6.000000,6284.000000
50%,NaN,3953.550000,253060.000000,7.700000,7.500000,7494.000000
75%,NaN,7667.325000,290290.750000,10.500000,9.100000,8691.000000
max,NaN,12161.500000,320887.000000,17.000000,25.200000,15352.000000